<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/topbottom.css">
    <link rel="stylesheet" href="/css/market.css">
</head>
<body>
    <div id="wrap">
        {{>header}}
        <div id="content">
            <ul class="tags">
                <li>
                    <a href="/item/">전체</a>
                </li>
                <li>
                    <a href="/item/상의">상의</a>
                </li>
                <li>
                    <a href="/item/아우터">아우터</a>
                </li>
                <li>
                    <a href="/item/하의">하의</a>
                </li>
                <li>
                    <a href="/item/신발">신발</a>
                </li>
                <li>
                    <a href="/item/가방">가방</a>
                </li>
                <li>
                    <a href="/item/모자">모자</a>
                </li>
                <li>
                    <a href="/item/엑세서리">엑세서리</a>
                </li>
                <li>
                    <a href="/item/주얼리">주얼리</a>
                </li>
                <li>
                    <a href="/item/치마">치마</a>
                </li>
                <li>
                    <a href="/item/원피스">원피스</a>
                </li>
                <li>
                    <a href="/item/향수">향수</a>
                </li>
                <li>
                    <a href="/item/기타">기타</a>
                </li>
            </ul>
            <div class="product-boxes">
                    {{log data}}
                {{#each data}}
                    <a class="product-box" href={{concat "/item/" dataValues.id}}>
                        <div class="img-box">
                            <img src="../img/login/image.png" alt="">
                        </div>
                        <div class="ifo-box">
                            <p>{{dataValues.brand}}</p>
                            <p>{{dataValues.title}}</p>
                            <p>{{dataValues.price}}</p>
                        </div>
                    </a>
                {{/each}}
                <div class="product-box">
                    <div class="img-box">
                        <img src="../img/login/image.png" alt="">
                    </div>
                    <div class="ifo-box">
                        <p>Belier</p>
                        <p>새상ㅍ무임ㅇ에ㅓㄹㅁ얾ㄴ;ㅁㄴ머림ㄴ</p>
                        <p>78,000원</p>
                    </div>
                </div>
                <div class="product-box">
                    <div class="img-box">
                        <img src="../img/login/image.png" alt="">
                    </div>
                    <div class="ifo-box">
                        <p>Belier</p>
                        <p>새상ㅍ무임ㅇ에ㅓㄹㅁ얾ㄴ;ㅁㄴ머림ㄴ</p>
                        <p>78,000원</p>
                    </div>
                </div>
                <div class="product-box">
                    <div class="img-box">
                        <img src="../img/login/image.png" alt="">
                    </div>
                    <div class="ifo-box">
                        <p>Belier</p>
                        <p>새상ㅍ무임ㅇ에ㅓㄹㅁ얾ㄴ;ㅁㄴ머림ㄴ</p>
                        <p>78,000원</p>
                    </div>
                </div>
                <div class="product-box">
                    <div class="img-box">
                        <img src="../img/login/image.png" alt="">
                    </div>
                    <div class="ifo-box">
                        <p>Belier</p>
                        <p>새상ㅍ무임ㅇ에ㅓㄹㅁ얾ㄴ;ㅁㄴ머림ㄴ</p>
                        <p>78,000원</p>
                    </div>
                </div>
                <div class="product-box">
                    <div class="img-box">
                        <img src="../img/login/image.png" alt="">
                    </div>
                    <div class="ifo-box">
                        <p>Belier</p>
                        <p>새상ㅍ무임ㅇ에ㅓㄹㅁ얾ㄴ;ㅁㄴ머림ㄴ</p>
                        <p>78,000원</p>
                    </div>
                </div>
                <div class="product-box">
                    <div class="img-box">
                        <img src="../img/login/image.png" alt="">
                    </div>
                    <div class="ifo-box">
                        <p>Belier</p>
                        <p>새상ㅍ무임ㅇ에ㅓㄹㅁ얾ㄴ;ㅁㄴ머림ㄴ</p>
                        <p>78,000원</p>
                    </div>
                </div>
            </div>
            <div class="page-controller">

            </div>
        </div>
        {{>footer}}
    </div>
</body>
<script src="/js/header.js"></script>
</html>