<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/topbottom.css">
    <link rel="stylesheet" href="/css/market.css">
</head>

<body>
    <div id="wrap">
        {{>header}}
        <div id="content">
            <ul class="tags">
                <li>
                    <a href="/item/">전체</a>
                </li>
                <li>
                    <a href="/item/상의">상의</a>
                </li>
                <li>
                    <a href="/item/아우터">아우터</a>
                </li>
                <li>
                    <a href="/item/하의">하의</a>
                </li>
                <li>
                    <a href="/item/신발">신발</a>
                </li>
                <li>
                    <a href="/item/가방">가방</a>
                </li>
                <li>
                    <a href="/item/모자">모자</a>
                </li>
                <li>
                    <a href="/item/엑세서리">엑세서리</a>
                </li>
                <li>
                    <a href="/item/주얼리">주얼리</a>
                </li>
                <li>
                    <a href="/item/치마">치마</a>
                </li>
                <li>
                    <a href="/item/원피스">원피스</a>
                </li>
                <li>
                    <a href="/item/향수">향수</a>
                </li>
                <li>
                    <a href="/item/기타">기타</a>
                </li>
            </ul>
            <div class="product-boxes">
                {{#each data.rows}}
                <a class="product-box" href={{concat "/item/" dataValues.id}}>
                    <div class="img-box">
                        <img src="../img/login/image.png" alt="">
                    </div>
                    <div class="ifo-box">
                        <p>{{dataValues.brand}}</p>
                        <p>{{dataValues.title}}</p>
                        <p>{{priceComma dataValues.price}}</p>
                    </div>
                </a>
                {{/each}}
            </div>
            <div class="page-controller">
                {{!-- {{log data.rows}} --}}
            </div>
        </div>
        {{>footer}}
    </div>
</body>
<script src="/js/header.js"></script>
<script>
    const pageController = document.querySelector(".page-controller");
    const preBtn = document.createElement("button")
    const nextBtn = document.createElement("button")
    const svg = `<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M3.646 12.354a.5.5 0 0 0 .708 0L8 8.707l3.646 3.647a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 0 0 0 .708zM3.646 8.354a.5.5 0 0 0 .708 0L8 4.707l3.646 3.647a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 0 0 0 .708z"/>
                    </svg>`;
    preBtn.innerHTML = svg;
    preBtn.style.transform = 'rotate(-90deg)';
    nextBtn.innerHTML = svg;
    nextBtn.style.transform = 'rotate(90deg)';
    const totalPage = {{ data.totalPages }};
    const currentPage = parseInt({{ data.currentPage }});
    pageController.append(preBtn);
    const pageArr = [];
    for (let i = 1; i <= totalPage; i++) {
        pageArr.push(i);
    }
    console.log(pageArr)
    if (pageArr.length < 5) {
        for (let i = 0; i < pageArr.length; i++) {
            const pageButton = document.createElement('button');
            pageButton.classList.add('page-btn');
            pageButton.innerHTML = `${pageArr[i]}`
            pageButton.onclick = () => {
                location.href = `http://localhost:3000/item/market?page=${pageArr[i]}`;
            }
            if (pageArr[i] === currentPage) { pageButton.classList.add('current'); }
            pageController.append(pageButton);
        }
    } else {
        if (currentPage + 2 <= pageArr.length) {
            // 버튼 5개 제한 마지막 페이지일 때도 5개 출력
        } else {

        }
    }

    pageController.append(nextBtn);
</script>

</html>